/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  padding: 8px;
}

table { 
  margin: 1em 0;
}  
table, td, th { 
  border: 1px solid black;
  padding: 5px;
}  
table th {
  background: aliceblue;
}

menu {
  width: 12em;
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
}
menu li {
  list-style: none;
  height: 1.5em;
  margin: 2px auto;
}
menu li button {
  width: 12em;
}

form :invalid {
  box-shadow: none;  /* neutralizing FF */
  outline: dotted red;      
}
form > div  {
  margin-bottom: 0.7em;  
}
form > div > label {
  display: block;     /* by default, one labeled control per line*/
}
form > div.field-group > label {
  display: inline-block;
}
form > div > label {
  position: relative;
  margin: 0 0 5px 0;  
  width: 20em;  
}
form > div > label > input[type="text"], 
    form > div > label > select, 
    form > div > label > output {
  position: absolute;
  left: 9em;
}
form > div  > button {
  margin-right: 0.5em;  
}

form > fieldset {
  margin-bottom: 1em;  
}
form > fieldset > label {
  margin-right: 1em;  
}
form > fieldset > label > input[type="radio"],
    form > fieldset > label > input[type="checkbox"] {
  margin-right: 0.5em;  
}
