/* ==========================================================================
   Custom styles
   ========================================================================== */

header {
  text-align: center;
}
#appDescription {
  margin: 1em 2em;
  font-size: larger;
}
body > footer {
  font-size: smaller;
}
